/*--- This is for using my Font ---*/

@font-face {
    font-family: myFont;
    src: url('/vendor/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Black.ttf');
}

/*--- This is for full  web page ---*/

body {

    margin: 0;
    display: block;
    /*font-family: 'Roboto', Arial, sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 29px;
    background: url("/images/worlddot.jpg") no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
}

.main_div {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.background_rgba {
    background-color: rgba(13, 16, 71, 0.4);
    min-height: 100vh;

}

/*--- This remove class from slick-theme.css ---*/

.slick-next {
    right: 3%;
}

.slick-prev {
    left: 3%;
    z-index: 5;
}

/*--- This is for first three slide pages ---*/

.p_slider {

    font-weight: 600;
    font-size: 0.8em;
}

.slide_pages_main {
    width: 40%;
    float: left;
    font-family: 'Raleway', sans-serif;
    margin-left: 7%;
    margin-top: 7%;
    font-size: 0.8em;
    line-height: 1.5em;
}

.slide_pages_main h1 {

    text-transform: uppercase;
    font-family: 'myFont', serif;
}

/*---- Logo ----*/

.logo_div {

    padding-left: 7%;
    padding-top: 4%;
    width: 30%;
    height: 30%;
}

.logo_div img {
    width: 60%;
    height: 60%;

}

/*---- This is for primary page ----*/

.primary_page {
    min-height: 100vh;
    background: url('/images/slide2.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.primary_page_form input {

    width: 50%;
}

.primary_page_form_div {
    width: 35%;
    float: right;
    background-color: rgba(24, 38, 66, 0.8);
    padding: 2%;
    margin-right: 7%;
    margin-top: 4%;
    text-transform: uppercase;

}

.primary_page_form_div p:first-of-type {

    font-family: 'myFont', serif;
    text-transform: uppercase;
    font-size: 0.8em;
}

.primary_page_form_div p:last-of-type {

    font-size: 0.4em;
    margin-bottom: 0;
}

.list {
    width: 40%;
    float: left;
}

.list ul {
    margin-top: 0;
    padding-top: 0;
}

.list li {
    margin-top: 19%;
    font-size: 0.5em;
    font-weight: 700;
}

.list_information {
    float: right;
    width: 60%;
}

.button_dropdown {

    margin-top: 5%;
    background-color: rgba(116, 105, 126, 0.2);
    color: rgba(214, 214, 214, 0.44);
    border: #cccccc solid 1px;
    border-radius: 0.3em;
    cursor: pointer;
    width: 90%;
    font-weight: 300;
    padding: 5%;
    text-align: left;
    font-size: 0.5em;
    z-index: 500;
    display: block;
    text-transform: none;
}

.button_dropdown:focus {

    outline: none !important;
    border: 1px solid #516C8A;
}

.ul_dropdown {
    display: none;
    margin-top: 0;
    width: 3.85%;
}

.show {
    position: absolute;
    display: block;

}

.ul_dropdown li {

    margin-top: 0;
    border-top: #cccccc solid 1px;
    width: 100%;
    padding: 5%;
    text-align: left;
    font-size: 0.5em;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-transform: none;
    color: #000000;
    font-weight: 900;
}

.ul_dropdown li:hover {

    background-color: rgb(164, 164, 164);

}

.range-slider__value {

    text-align: right;
    width: 100%;
    font-size: 0.5em;
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background-color: rgba(116, 105, 126, 0.2);
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 18px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
    width: 40px;
    height: 18px;
    border-radius: 12px;
    border: 0;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

.first_range {

    margin-top: 9%;
}

.second_range {

    margin-top: 2%;
}

.price_total {
    width: 100%;
    margin-top: 42%;
    font-size: 0.5em;
    font-weight: 700;
    text-decoration: none;

}

.price_total div:first-of-type {

    width: 66%;
    display: inline-block;
    background: #0B60A9;
    text-align: right;
    padding: 2%;

}

.price_total div:last-of-type {

    display: inline-block;
    width: 25%;
    background: #08487F;
    padding: 2%;
    text-align: center;
}

.price_total span {

    margin-right: 0;
    margin-left: 0;
}

/*---- Second primary page ----*/

.second_page {

    background: url('/images/loading_truck.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*---- Third primary page ----*/

.third_page {

    background: url('/images/a.jpeg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.third_page_form {

    width: 42%;
    float: right;
    background-color: rgba(24, 38, 66, 0.8);
    padding: 2%;
    margin-right: 7%;
    margin-top: 7%;
    height: 100%;
}

.third_page_form ul li {

    padding-top: 12%;
    font-weight: 700;
    font-size: 0.7em;
}

.third_page_form ul li:first-of-type {

    padding-top: 9.8%;
}

.third_page_form_left {

    float: left;
    width: 42%;
}

.third_page_form_right {

    float: right;
    width: 58%;

}

.third_page_form_right input {

    margin-top: 5%;
    background-color: rgba(116, 105, 126, 0.2);
    color: rgba(214, 214, 214, 0.44);
    border: #cccccc solid 1px;
    border-radius: 0.5em;
    width: 90%;
    font-weight: 300;
    padding: 3%;
    text-align: left;
    font-size: 0.5em;
    z-index: 500;
    display: block;
    text-transform: none;
}

.third_page_form ul {

    margin-top: 0;
}

.text_area_size {
    width: 90%;
    height: 10em;
    margin-top: 5%;
    background-color: rgba(116, 105, 126, 0.2);
    color: rgba(214, 214, 214, 0.44);
    border: #cccccc solid 1px;
    border-radius: 0.5em;
    font-weight: 300;
    padding: 3%;
    text-align: left;
    font-size: 0.5em;
    z-index: 500;
    display: block;
    text-transform: none;
}

input:focus {
    outline: none !important;
    border: 1px solid #516C8A;
/ / box-shadow: 0 0 10 px #0d0dce;
}

textarea:focus {

    outline: none !important;
    border: 1px solid #516C8A;
}

.third_page_form_left button {
    color: #ffffff;
    padding: 10%;
    background: #08487F;
    border: 2px solid #0B60A9;
    border-radius: 0.5em;
    text-transform: uppercase;
    width: 90%;

}

.third_page_form_left button:hover {

    background: #0B60A9;
    cursor: pointer;
}

.third_page_form_left button:active {

    background: #08487F;
    cursor: pointer;
}

.third_page_form_left button:focus {
    outline: none !important;
    border: 2px solid #516C8A;
}

/*---- first article  page ----*/

.first_article {
    height: 80vh;
    display: block;
    position: relative;

}

.first_art_left_side_div {

    color: rgba(90, 90, 90, 0.78);
    font-weight: 500;
    padding-top: 4%;
    width: 30%;
    height: 20%;
    float: left;
    text-align: right;

}

.first_art_left_side_div p {

    margin: 0;
}

.first_art_left_side_div h2 {

    text-transform: uppercase;
    font-size: 1em;
    margin-top: 3%;
    font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
}

.first_art_right_side_div {

    width: 65%;
    height: 60%;
    float: right;
    display: table;
    /*padding-right: 2%;*/
    padding-top: 1.5%;
}

.first_art_right_side_div img {

    width: 32px;
    height: 32px;
}

.first_art_right_side_div h2 {

    margin-top: 0;
    text-transform: uppercase;
    font-size: 0.5em;
}

.first_art_right_side_table_row {

    display: table-row;
}

.first_art_right_side_div_table_cell {

    display: table-cell;
    width: 25%;
    height: 10%;
    padding: 4% 4% 0 0;

}

.first_art_right_side_div_table_cell_border {

    border: 1px solid #E4E4E4;
    border-bottom-width: 2px;
    background: #ffffff;
    padding: 5%;
    display: inherit;
}

.first_art_right_side_div p {

    font-size: 0.5em;
}

.move_left_side_img {
    float: left;
    width: 10%;

}

.move_text_right {

    float: right;
    width: 85%;
    padding: 0;
    line-height: 100%;
}

/*--- Our Core values ---*/

.article_our_core {

    background: url('/images/night.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100vw;
    max-height: 80vh;
    display: block;
    position: relative;
    min-height: 80vh;
    min-width: 100vw;
    font-size: 0.5em;
    color: #ffffff;
}

.div_our_core {
    background-color: rgba(10, 10, 10, 0.71);
    min-height: 80vh;
    max-height: 80vw;
}

.div_our_top {

    position: relative;
    display: flex;
    padding-top: 4%;
    width: 100%;
}

.our_core_left {

    float: left;
    width: 20%;
    padding-left: 20%;
    text-transform: uppercase;
    text-align: right;
    /*padding-right: 5%;*/
}

.our_core_left h2:first-of-type {

    font-size: 1em;

}

.our_core_left h2:last-of-type {
    margin-top: 1%;
    font-size: 2em;
    line-height: 1.5em;
}

.our_core_right {
    font-size: 1.1em;
    float: right;
    width: 25%;
    line-height: 1.5em;
    padding-left: 5%;
}

.our_core_bottom {
    text-align: center;
    height: 50%;
    width: 100%;

}

.our_core_line_divs {

    padding-top: 8%;
    display: inline-block;
    width: 350px;
    text-align: center;
}

.out_core_bottom div:first-of-type {

    padding-left: 5%;

}

.our_core_line_divs span {

    font-size: 4em;
    color: #1a5eb2;
    font-weight: 700;
}

.our_core_line_divs h3 {

    text-transform: uppercase;
}

.our_core_line_divs p {

    line-height: 1.5em;
    width: 80%;
    padding-left: 10%;
}

/*--- we grow article ---*/

.we_grow {
    background-color: rgba(101, 101, 101, 0.8);
    min-height: 50vh;
    max-height: 50vh;
    color: rgb(255, 255, 255);
}

.we_grow_main_div {

    padding-top: 5%;

}

.we_grow_left {

    float: left;
    width: 30%;
    text-align: right;
    display: inline-block;
    padding-left: 5%;
}

.we_grow_left p:first-of-type {

    font-size: 0.6em;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.we_grow_left h2 {
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 900;
    text-transform: uppercase;
}

.we_grow_left p:last-of-type {

    font-size: 0.6em;
    font-weight: 600;
    width: 60%;
    float: right;
    margin-top: 0;

}

.we_grow_right {
    padding-left: 4%;
    float: right;
    width: 60%;
    display: inline-block;
}

.we_grow_right p {

    margin: 0;
    font-size: 0.5em;
    text-transform: uppercase;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.progress {

    position: relative;
    width: 90%;
    height: 7%;
    background-color: rgba(24, 45, 62, 0.4);
}

.progress_grow {
    /*position: absolute;*/
    height: 100%;
    background-color: #0B60A9;
    width: 5%;
    font-size: 0.5em;
    padding: 1%;
    font-weight: 900;
    text-align: right;
}

/*--- Footer ---*/

.location {
    z-index: -1;
    width: 100%;
    max-height: 50vh;
    min-height: 50vh;
    position: absolute;
}

.footer_info {
    float: right;
    background-color: rgba(253, 253, 253, 0.6);
    width: 35%;
    margin-top: 3%;
    margin-right: 5%;
    border: 1px solid rgba(80, 80, 80, 0.2);
}

.footer_info > img {

    width: 42px;
    height: 42px;
    padding-left: 47%;
    padding-top: 5%;
}

.footer_info p:first-of-type {
    font-size: 0.7em;
    text-align: center;
    font-weight: 900;
}

.footer_info p {
    font-size: 0.5em;
    text-align: center;
    font-weight: 600;
}

.footer_info p a {
    text-decoration: blink;
    font-weight: 900;
    color: #3498db;
    padding: 1%;
}

.footer_info p a:hover {
    background-color: #3498db;
    text-decoration: blink;
    font-weight: 900;
    color: #ffffff;
    padding: 1%;
    border-radius: 5%;
}

.footer_info a img {
    width: 32px;
    height: 32px;
    float: right;
}

.footer_info a h4 {
    float: right;
    text-decoration: blink;
    font-size: 0.4em;
    color: #000000;;
}

/*--- Media Rule ---*/
@media all and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .logo_div img {
        margin-top: 15%;
    }

    .slide_pages_main {
        width: 86%;
        float: none;
        font-size: 0.7em;
        margin-top: 15%;
        margin-left: 11%;
    }

    .primary_page_form_div {
        width: 82%;
        float: none;
        margin-left: 8%;
        margin-top: 15%;
    }

    .our_core_line_divs {
        float: none;
        width: 34%;
        padding-left: 10%;
        padding-top: 5%;
        font-size: 0.8em;
    }

    .list li {
        margin-top: 12%;
    }

    .button_dropdown {
        margin-top: 5%;
        padding: 2%;
    }

    input[type="range"] {
        width: 90%;
    }

    .first_range {
        margin-top: 5%;
    }

    .price_total {
        margin-top: 0;
    }

    .ul_dropdown {
        width: 6.1%;
    }

    .ul_dropdown li {
        width: 148%;
        padding: 2%;
    }

    .price_total div:first-of-type {
        width: 63%;
    }

    .third_page_ul_left {
        float: left;
        width: 33%;
        padding-left: 10%;
        margin: 0;
    }

    .third_page_ul_right {
        float: right;
        width: 55%;
        margin: 0;
    }

    .third_page_form {
        width: 80%;
        float: left;
        margin: 11% 0% 0% 9%;
        font-size: 0.7em;

    }

    .first_art_left_side_div {
        text-align: center;
        width: 100%;
        height: auto;
        float: none;
    }

    .first_art_right_side_div {
        float: none;
        width: 93%;
        padding-left: 5%;

    }

    .div_our_top {
        display: block;
    }

    .our_core_left {
        float: none;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .our_core_right {
        float: none;
        width: 90%;
        text-align: center;
        padding-left: 5%;
    }

    .our_core_line_divs p {
        padding: 0 0 0 2%;
        text-align: center;
        float: none;
        width: 97%;

    }

    .our_core_line_divs span {
        font-size: 3em;
    }

    .move_text_right {
        width: 100%;
        line-height: 70%;
    }

    .out_core_bottom div:first-of-type {

        padding-left: 10%;
    }

    .we_grow_left {
        float: none;
        text-align: center;
        width: 100%;
    }

    .we_grow_left p:first-of-type {
        width: 100%;
    }

    .we_grow_left p:last-of-type {
        width: 90%;
        float: none;
    }

    .we_grow_right {
        float: none;
        width: 100%;

    }
}

/*@media all and (max-width: 1488px) {*/

    /*.div_our_top {*/
        /*font-size: 18px;*/
        /*display: block;*/
    /*}*/

    /*.our_core_left {*/
        /*float: none;*/
        /*width: 100%;*/
        /*padding-left: 0;*/
        /*text-align: center;*/
    /*}*/

    /*.our_core_right {*/
        /*float: none;*/
        /*width: 90%;*/
        /*text-align: center;*/
        /*padding-left: 5%;*/
    /*}*/

    /*.our_core_line_divs p {*/
        /*padding: 0 0 0 2%;*/
        /*text-align: center;*/
        /*float: none;*/
        /*width: 97%;*/

    /*}*/

    /*.our_core_line_divs span {*/
        /*font-size: 3em;*/
    /*}*/

/*}*/